div {
    margin-bottom: 20px;
}

.box1 {
    width: 200px;  /* 콘텐츠 영역 너비 지정 */
    height: 100px; /* 콘텐츠 영역 높이 지정 */
    padding: 20px;
    border: 10px solid gray;
}

.box2 {
    box-sizing: border-box; /* 테두리를 포함하여 너비 지정 */
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px solid gray;
}

/* 박스 그림자 효과 <수평> <수직> <흐림> <번짐> <색상> */
.boxshadow { box-shadow: 5px 5px 15px 5px gray; }