* {
    box-sizing: border-box;
}
#container {
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}
input[type="text"] {
    width: 370px;
    height: 30px;
    padding-left: 30px;
    float: left;
}
button {
    width: 90px;
    height: 30px;
    border: none;
    background: #222;
    color: #fff;
    float: right;
}
hr {
    clear: both;
    display: none;
}
ul {
    list-style: none;
    padding-top: 50px;
}
li {
    line-height: 2.5;
}
li:hover {
    cursor: pointer;
}