#container {
    width: 1100px;
    margin: 50px auto;
}

.desc {
    border: 5px dotted #222;
    background-color: #ffd9a0;
    width: 350px;
    padding: 20px;
    margin-right: 20px;
    float: left;
}

/* 배경색 적용 범위 조정 */
#clip-border {
    background-clip: border-box;
}
#clip-padding {
    background-clip: padding-box;
}
#clip-content {
    background-clip: content-box;
}

/* 배경 이미지 지정 */
#back-image {
    background-image: url("images/bg1.jpg");
}

/*
배경 이미지 반복
background-repeat
    repeat (가로, 세로 반복, 기본값)
    repeat-x (가로로 반복)
    repeat-y (세로로 반복)
    no-repeat (반복 x)
*/

/* 불릿 이미지 지정 */
ul {
    list-style-type: none;
    margin-left: -30px;
    clear:left;
}
li {
    background-image: url("images/book-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    line-height: 40px;
}

/* 배경 이미지 크기 조절 */
.box {
    float: left;
    border: 1px solid #222;
    width: 300px;
    height: 300px;
    margin: 20px;
    background: url("images/bg4.jpg") no-repeat left top;
}
#bg1 {
    background-size: auto; /* 기본값 */
}
#bg2 {
    background-size: 200px; /* 너비 px로 지정 */
}
#bg3 {
    background-size: 50%; /* width %로 지정 */
}
#bg4 {
    background-size: 100% 100%; /* width height %로 지정 */
}
#bg5 {
    background-size: contain; /* 요소 안에 보이도록 표시 */
}
#bg6 {
    background-size: cover; /* 요소를 완전히 덮음 */
}