body {
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; /* 배경 이미지 고정 */
}
div {
    width: 400px;
    height: 250px;
    padding: 20px;
    border: 20px solid rgba(204, 204, 204, 0.493);
    margin-bottom: 20px;
    overflow: auto;
    background-image: url("images/bg3.png");
    background-repeat: no-repeat;
    background-position: right top;
}

/* 배경 이미지 적용 범위 조정 */
#bg1 {
    background-origin: padding-box;
}
#bg2 {
    background-origin: border-box;
}
#bg3 {
    background-origin: content-box;
}

/*
background 속성 그룹 제어
background: url("images/bg2.png") no-repeat right top fixed;
*/